.git
.idea
.vscode
.node_modules
/vendor
/public/hot
/public/storage
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
.env
.env.backup
.phpunit.cache
npm-debug.log
README.md
